<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sandesh</title>
  <meta name="description" content="Real time chat application">
  <!-- TITLE LOGO HAI -->
  <link id="favicon" rel="icon"
    href="https://vignette.wikia.nocookie.net/logopedia/images/e/e1/Incognito_logo.png/revision/latest?cb=20160422124241"
    type="image/x-icon">
  <!-- VIEWPORT FIX CODE -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom css -->
  <link rel="stylesheet" href="/style.css">

  <script>
    // JQuery tag
    src = "https://code.jquery.com/jquery-3.4.1.js"
  </script>
  <!-- SOCKET CDN REQ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
</head>

<body class="preload">


  <div id="landing">

    <!-- ALL BACKGROUND IMAGES HERE OLY -->
    <div class="backgroundimages">
      <img id="blob1" src="https://cdn.glitch.com/15adc2bd-6f36-48e1-a2ee-71570911f8e2%2Fblob1.png?v=1569168629923"
        alt="blob1">
      <img id="blob2" src="https://cdn.glitch.com/15adc2bd-6f36-48e1-a2ee-71570911f8e2%2Fblob2.png?v=1569168629489"
        alt="blob2">
      <img id="incognito"
        src="https://cdn.glitch.com/15adc2bd-6f36-48e1-a2ee-71570911f8e2%2FIncognito_logo.png?v=1569168687727"
        alt="incognito">
    </div>
    <h1 class="Logo">Sandesh</h1>
    <div class="form">
      <input type="text" placeholder="Choose a desired username..." id="handle">
      <button id="grpbtn">Join a Group</button>
      <button id="pvtbtn">Start a private chat</button>
    </div>
  </div>

  <!-- CODE ANDAR KA -->
  <main>
    <div class="labels">
      <div>
        <!-- INLINE CSS DONT ADD CLASS -->
        <h1 style="background: linear-gradient(to right, #eeb310 0%, #ffffff 50%, #0aee3b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; margin: 0%;  font-family: Arvo ,Arial, Helvetica, sans-serif;">Sandesh</h1>
      </div>

      <div>
        <p>Your temporary username</p>
        <h1 id="username" style="color: rgb(255, 249, 249); margin:0%;">Anonymous</h1>
      </div>

    </div>

    <div id="chatbox">
      <div id="output">
        <p>Finding a partner to share your thoughts anonymously...</p>
      </div>

      <div class="interact">
        <input id="message" type="text" placeholder="Press Enter to Send...">
        <div id="send" title="press Enter instead" onclick="handlers.addChat()">Send</div>
      </div>
    </div>

    <div id="buttons">
      <div class="toggle" onclick="document.location.reload()">
        Home
      </div>
      <div class="toggle" id="onlineUsers">
        Online: 1
      </div>
    </div>


  </main>

  <!-- CDN FOR SCOKET KA -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $(window).load(function () {
      $("body").removeClass("preload");
    });
  </script>



  <script src="/client.js"></script>
</body>

</html>